<%- include ("./_partials/header") %>
<%- include ("./_partials/navbar") %>

<section class="contact" id="contact">

    <h1 class="heading"> <span> Mandanos </span> mensaje! </h1>

    <div class="row">

        <div class="login">
                <table border="1">
                    <tr>
                        <td><img src="fer.png" style="height:200px"></td>
                        <td><img src="hannia.jpeg" style="height:200px"></td>
                        <td><img src="joel.jpg" style="height:200px"></td>
                        <td><img src="angel.png" style="height:200px"></td>
                    </tr>
                    <tr>
                        <td>
                            <h1>Fernando Martinez</h1>
                            <h1>81 2573 3616</h1>
                            <h1>A01138576@tec.mx</h1>
                        </td>
                        <td>
                            <h1>Hannia Samaniego</h1>
                            <h1>81 2030 6432</h1>
                            <h1>A01283410@tec.mx</h1>
                        </td>
                        <td>
                            <h1>Joel Chavez</h1>
                            <h1>81 1683 7590</h1>
                            <h1>A01177075@tec.mx</h1>
                        </td>
                        <td>
                            <h1>Angel Limones</h1>
                            <h1>921 123 0511</h1>
                            <h1>A00825333@tec.mx</h1>
                        </td>
                    </tr>
                </table>
        </div>

        <!--
        <div class="image">
            <img src="images/contact-img.svg" alt="">
        </div>
        Por si queremos agregar alguna foto de fondo
    -->

    </div>

</section>


<%- include ("./_partials/footer") %>