<%- include ("./_partials/header") %>
<%- include ("./_partials/navbar") %>

<section class="about" id="about">

    <h1 class= "heading"> <span> Nosotros somos </span> Marketec. </h1>

    <div class="row">
        <div class="video-container">
            <video src="marketec.mp4" type ="video/mp4" loop autoplay muted></video> 
        <h3>Nosotros somos Marketec
        </h3>
    </div>

    <div class="content">
        <h3>
            Unete con nosotros
            <a href="about" class="btn"> ¿Quiéres saber más Informacion?</a>
        </h3>

        <p> Buscamos revivir lo que alguna vez fue MarkeTec,
            servicio que beneficiaba a todos los estudiantes por igual. 
            La página web tiene como propósito el permitir un entorno en 
            donde los estudiantes puedan generar un poco de dinero extra 
            que los pueda ayudar en sus finanzas personales mientras que
             otra parte de la comunidad podrá comprar artículos que 
             necesita.
        </p>
    </div>
</div>

</section>

<%- include ("./_partials/footer") %>