
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Ligas rápidas</h3>
            <a href="/">Inicio</a>
            <a href="about">Informacion de nosotros</a>
            <a href="products">Productos</a>
            <a href="contact">Contactanos</a>
        </div>

        <div class="box">
            <h3>extra</h3>
            <a href="/">mi cuenta</a>
            <a href="cart">mi carrito/orden</a>
        </div>
        
        <div class="box">
            <h3>Info</h3>
            <h1 >123-456-789</h1>
            <h1 >ejemplo@gmail.com</h1>
            <h1 >Tecnologico de Monterrey</h1>
            
        </div>    
</section>

<!--footer termina-->

</body>