<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="/" class="logo" > Marke<span>Tec.</span> </a>

    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="about">Informacion de nosotros</a>
        <a href="products">Productos</a>
        <a href="contact">Contactanos</a>
    </nav>

    <div class="icons">
        <a href="profile" class="fas fa-heart"></a>
        <a href="cart" class="fas fa-shopping-cart"></a>
        <a href="register" class="fas fa-user"></a>
    </div>


</header>